.User {
  display: flex;
  align-items: center;
  gap: 50px;
  border: 2px solid black;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  transition: scale 0.4s ease-in;

  &:hover {
    scale: 1.2;
  }

  &__img {
    width: 50px;
  }
}